In [ ]:
"""
1. 改名可能会有问题，看名字对应的日期
2. 增加/减少促销日：可能存在促销日漏标，所以去看活动在不同年的时间和销量高低
3. promo_level错标、少标
4. promo_name错标、少标
"""

import pandas as pd
import numpy as np

promo = pd.read_csv("promotion_20190618.csv", parse_dates=["date"])
#promo = promo[promo["promo_name"].notnull()]
promo[promo["promo_name"].notnull()]['promo_level']= promo[promo["promo_name"].notnull()].fillna("missing")
promo.sort_values(by='date',inplace=True)
promo['衣服'] = 0
promo['鞋子'] = 0
promo['配件'] = 0
promo['健身椭圆机'] = 0
promo = promo.reset_index()
del promo['index']
print(promo.shape)
#promo.loc[promo["promo_level"].str.contains("年"), "promo_level"] = "missing"
promo.head(50)

(1242, 3)

/Users/xiujiayang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

         date           promo_name promo_level
0  2016-01-01                  NaN         NaN
1  2016-01-02                  NaN         NaN
2  2016-01-03                  NaN         NaN
3  2016-01-04                  NaN         NaN
4  2016-01-05                  NaN         NaN
5  2016-01-06          服饰清仓 300-10         NaN
6  2016-01-07  服饰清仓+运动户外年货节 300-10         NaN
7  2016-01-08  服饰清仓+运动户外年货节 300-10         NaN
8  2016-01-09  服饰清仓+运动户外年货节 300-10         NaN
9  2016-01-10  服饰清仓+运动户外年货节 300-10         NaN
10 2016-01-11  服饰清仓+运动户外年货节 300-10         NaN
11 2016-01-12  服饰清仓+运动户外年货节 300-10         NaN
12 2016-01-13                  NaN         NaN
13 2016-01-14                  NaN         NaN
14 2016-01-15                年货节预热         NaN
15 2016-01-16                年货节预热         NaN
16 2016-01-17  年货节+聚划算 300-10 单品包邮           S
17 2016-01-18  年货节+聚划算 300-10 单品包邮           S
18 2016-01-19           年货节 300-10           S
19 2016-01-20           年货节 300-10           S
20 2016-01-21           年货节 300-10           S
21 2016-01-22                  NaN         NaN
22 2016-01-23                  NaN         NaN
23 2016-01-24                  NaN         NaN
24 2016-01-25                  NaN         NaN
25 2016-01-26                  NaN         NaN
26 2016-01-27                  NaN         NaN
27 2016-01-28                  NaN         NaN
28 2016-01-29                  NaN         NaN
29 2016-01-30                  NaN         年廿一
30 2016-01-31                  NaN         年廿二
31 2016-02-01         春节不打烊+300-10         年廿三
32 2016-02-02         春节不打烊+300-10         年廿四
33 2016-02-03         春节不打烊+300-10         年廿五
34 2016-02-04         春节不打烊+300-10         年廿六
35 2016-02-05         春节不打烊+300-10         年廿七
36 2016-02-06         春节不打烊+300-10         年廿八
37 2016-02-07         春节不打烊+300-10         年三十
38 2016-02-08         春节不打烊+300-10         年初一
39 2016-02-09         春节不打烊+300-10         年初二
40 2016-02-10         春节不打烊+300-10         年初三
41 2016-02-11         春节不打烊+300-10         年初四
42 2016-02-12         春节不打烊+300-10         年初五
43 2016-02-13         春节不打烊+300-10         年初六
44 2016-02-14         春节不打烊+300-10         年初七
45 2016-02-15                  NaN         年初八
46 2016-02-16                  NaN         年初九
47 2016-02-17                  NaN         年初十
48 2016-02-18                  NaN        年初十一
49 2016-02-19                  NaN        年初十二

In [18]:
sales = pd.read_csv("order_modified_20190618.csv")
po = pd.read_csv('product_info_sub_20190618.csv')
sales = sales.merge(po,how='left',on='sku_id')
sales = sales[['sku_id','qty','date','family_id']]
sales = sales.groupby(['sku_id','date','family_id'],as_index=False)['qty'].sum()
sales['date'] = pd.to_datetime(sales['date'])
#sales = sales[(sales['date']>='2018-06-01') &(sales['date']<='2018-06-18')]
#promo[promo['promo_name']=='11.11 预售']
sales.head(50)

    sku_id       date  family_id  qty
0   534154 2015-12-22      34010    2
1   534154 2015-12-24      34010    2
2   534154 2016-01-03      34010    1
3   534154 2016-01-05      34010    1
4   534154 2016-01-06      34010    1
5   534154 2016-01-09      34010    1
6   534154 2016-01-10      34010    2
7   534154 2016-01-11      34010    2
8   534154 2016-01-12      34010    1
9   534154 2016-01-13      34010    1
10  534154 2016-01-14      34010    2
11  534154 2016-01-16      34010    1
12  534154 2016-01-17      34010    1
13  534154 2016-01-18      34010    1
14  534154 2016-01-19      34010    1
15  534154 2016-01-20      34010    1
16  534154 2016-01-21      34010    1
17  534154 2016-01-22      34010    2
18  534154 2016-01-25      34010    1
19  534154 2016-01-27      34010    7
20  534154 2016-01-29      34010    1
21  534154 2016-01-30      34010    1
22  534154 2016-02-01      34010    1
23  534154 2016-02-05      34010    1
24  534154 2016-02-08      34010    1
25  534154 2016-02-11      34010    3
26  534154 2016-02-13      34010    1
27  534154 2016-02-14      34010    3
28  534154 2016-02-16      34010    2
29  534154 2016-02-20      34010    2
30  534154 2016-02-21      34010    1
31  534154 2016-02-22      34010    1
32  534154 2016-02-23      34010    3
33  534154 2016-02-24      34010    8
34  534154 2016-02-25      34010    1
35  534154 2016-02-26      34010    6
36  534154 2016-03-01      34010    3
37  534154 2016-03-02      34010    1
38  534154 2016-03-04      34010    4
39  534154 2016-03-06      34010    5
40  534154 2016-03-07      34010    3
41  534154 2016-03-12      34010    3
42  534154 2016-03-13      34010    2
43  534154 2016-03-14      34010    1
44  534154 2016-03-15      34010    2
45  534154 2016-03-16      34010    1
46  534154 2016-03-17      34010    1
47  534154 2016-03-19      34010    5
48  534154 2016-03-20      34010    1
49  534154 2016-03-21      34010    3

In [3]:
def rename(df, to_replace_list, value,col_name='promo_name'):
    df.loc[df[col_name].isin(to_replace_list), col_name] = value
    return df

promo = rename(promo, ["双11 满200-10，300-20,600-50", "双十一"], "11.11")
promo = rename(promo, ["11.11 预售", "全店聚划算/11.11 预售"], "???")
promo = rename(promo, ["520"], "5.20")
promo = rename(promo, ["双12聚划算"], "12.12")
promo = rename(promo, ["55聚划算大促"], "5.5")
promo = rename(promo, ["6.18 年中促",  "618" , "年中促"], "6.18")
promo = rename(promo, ["6.18 年中促预热", "年中促预热"], "6.18预热")
promo = rename(promo, ["6.6聚划算", "66聚划算无coupon"], "6.6")
promo = rename(promo, ["66聚划算预热"], "6.6预热")
promo = rename(promo, ["9.9天猫盛典", "99品牌盛典", "99聚划算300-10"], "9.9")
promo = rename(promo, ["9.9天猫盛典预热",  "99品牌盛典预热", "99聚划算预热"], "9.9预热")
promo = rename(promo, ["718运动会", "天猫运动会3天品牌团"], "7.18")
promo = rename(promo, ["718运动会预热", "天猫运动会预热"], "7.18预热")
#promo = rename(promo, ["Btwin 团"], "???")
promo = rename(promo, ["DOMYOS聚划算品牌团", "Domyos健身聚划算品牌团"], "domyos")
promo = rename(promo, ["Kalenji 聚划算品牌团", "kalenji&Domyos聚划算品牌团"], "kalenji")
promo = rename(promo, ["Nabaiji游泳聚划算品牌团", "Quechua 聚划算品牌团", "Quechua亲子聚划算品牌团", 
                       "Quechua亲子聚划算品牌团/Nabaiji游泳聚划算品牌团", "Quechua防晒季聚划算品牌团",
                       "quechua保暖季团", "quehcua清仓团", "quehcua聚划算品牌团"], "quechua")
promo = rename(promo, ["TMALL 运动会&JHS"], "tmall运动会")
promo = rename(promo, ["TMALL 运动会预热"], "tmall运动会预热")
promo = rename(promo, ["Trekking聚划算"], "trekking")
promo = rename(promo, ["Tribord保暖季", "Tribord团"], "tribord")
promo = rename(promo, ["Water水上运动聚划算品牌团", "Winter sports聚划算"], "winter_sports")
promo = rename(promo, ["hiking 聚划算"], "hiking")
promo = rename(promo, ["tribord抓绒季团"], "tribord")
promo = rename(promo, ["water2天品牌团"], "water2")
#promo = rename(promo, ["一聚争霸 满300-10"], "???")
promo = rename(promo, ["亲子节", "亲子节（儿童节）天猫&JHS"], "亲子节")
promo = rename(promo, ["亲子节预热"], "亲子节预热")
promo = rename(promo, ["健身上新", "健身器械品类日", "健身团"], "健身")
promo = rename(promo, ["健身上新/开学季预热"], "健身预热")
promo = rename(promo, ["儿童节", "儿童节300-10"], "儿童节")
promo = rename(promo, ["儿童节预热"], "儿童节预热")
promo = rename(promo, ["全店聚划算"], "???")
promo = rename(promo, ["出游季", "出游季200-10 300-20 500-30"], "出游季")
promo = rename(promo, ["出游季预热"], "出游季预热")
promo = rename(promo, ["初一", "年初一"], "初一")
promo = rename(promo, ["初三", "年初三"], "初三")
promo = rename(promo, ["初九-上新聚划算"], "初九")
promo = rename(promo, ["初二", "年初二"], "初二")
promo = rename(promo, ["初五", "年初五"], "初五")
promo = rename(promo, ["初八", "年初八"], "初八")
promo = rename(promo, ["初六", "年初六"], "初六")
promo = rename(promo, ["初十-上新聚划算", "年初十"], "初十")
promo = rename(promo, ["初十一-上新聚划算", "年初十一"], "初十一")
promo = rename(promo, ["初十三", "年初十三"], "初十三")
promo = rename(promo, ["初十二", "年初十二"], "初十二")
promo = rename(promo, ["初十四", "年初十四"], "初十四")
promo = rename(promo, ["初十五"], "初十五")
promo = rename(promo, ["初四", "年初四"], "初四")
promo = rename(promo, ["初柒", "年初七"], "初七")
promo = rename(promo, ["年初九"], "初九")
promo = rename(promo, ["国庆狂欢节300-10"], "国庆")
promo = rename(promo, ["国庆狂欢节预热"], "国庆预热")
promo = rename(promo, ["天猫冰雪节 300-10"], "冰雪节") 
promo = rename(promo, ["天猫新风尚"], "新风尚") 
promo = rename(promo, ["天猫新风尚预热"], "新风尚预热") 
promo = rename(promo, ["天猫焕新"], "天猫焕新")
promo = rename(promo, ["天猫焕新预热"], "天猫焕新预热")
promo = rename(promo, ["天猫焕新预热"], "天猫焕新预热")
promo = rename(promo, ["女王节", "女王节200-10,300-20,500-30", "女王节300-10"], "女王节")
promo = rename(promo, ["女王节预热", "女王节（预热）"], "女王节预热")
promo = rename(promo, ["家庭狂欢无coupon"], "???")
#promo = rename(promo, ["山水大自然"], "???")
promo = rename(promo, ["年三十"], "年三十")
promo = rename(promo, ["年二十一", "年廿一"], "年廿一")
promo = rename(promo, ["年二十三", "年廿三"], "年廿三")
promo = rename(promo, ["年二十五", "年廿五"], "年廿五")
promo = rename(promo, ["年二十八", "年廿八"], "年廿八")
promo = rename(promo, ["年二十六", "年廿六"], "年廿六")
promo = rename(promo, ["年二十四", "年廿四"], "年廿四")
promo = rename(promo, ["年二十二"], "年二十二")
promo = rename(promo, ["年廿七","年二十七"], "年廿七")
promo = rename(promo, ["年廿九","年二十九"], "年廿九")
promo = rename(promo, ["年廿二"], "年廿二")
promo = rename(promo, ["年货节 300-10", "年货节 300-10,500-30", "年货节+聚划算 300-10 单品包邮", "年货节300-10"], "年货节")
promo = rename(promo, ["年货节预热"], "年货节预热")
promo = rename(promo, ["开学季", "开学季300-10"], "开学季")
promo = rename(promo, ["开学季预热", "开学季（预热）"], "开学季预热")
promo = rename(promo, ["开新季"], "开新季")
promo = rename(promo, ["户外上新团/袜子节", "户外出游季300-10", "户外出行团","袜子节"], "户外出行")
promo = rename(promo, ["户外出行团/天猫焕新预热"], "户外出行预热")
promo = rename(promo, ["新风尚", "新风尚 300-10 500-30", "新风尚 300-20活动","新风尚正式"], "新风尚")
promo = rename(promo, ["新风尚 预热", "新风尚预热"], "新风尚预热")
promo = rename(promo, ["春节不打烊+300-10"], "???")
promo = rename(promo, ["服饰清仓 300-10", "服饰清仓+运动户外年货节 300-10"], "???")
promo = rename(promo, ["母婴出游季300-10/户外出游季预热", "母婴出游季预热"], "母婴出游季预热")
promo = rename(promo, ["游泳2天品牌团", "游泳JHS品牌团", "游泳季", "游泳季3天品牌团", "游泳节聚划算"], "游泳季")
promo = rename(promo, ["滑雪季聚划算"], "滑雪季")
#promo = rename(promo, ["火拼周 聚划算&品牌OUTLETS"], "???")
#promo = rename(promo, ["球类品牌聚划算"], "???")
#promo = rename(promo, ["理想生活亲子趴"], "???")
#promo = rename(promo, ["瑜伽团"], "???")
promo = rename(promo, ["男人狂欢无coupon", "男人节", "男人节300-10 500-30", "男人节正式300-20", "男人节正式300-21", 
                       "男人节正式300-22"], "男人节")
promo = rename(promo, ["男人节预热"], "男人节预热")
promo = rename(promo, ["秋冬保暖", "秋冬保暖品牌团", "秋冬新风尚正式", "秋冬跑步季", "秋冬运动尚新"], "秋冬新风尚")
promo = rename(promo, ["秋冬新风尚预热"], "秋冬新风尚预热")
#promo = rename(promo, ["网羽乒团"], "???")
#promo = rename(promo, ["羽绒季聚划算"], "???")
promo = rename(promo, ["聚划算预售团"], "???")
#promo = rename(promo, ["聚划算预热"], "???")
#promo = rename(promo, ["自行车聚划算主题团"], "???")
#promo = rename(promo, ["袜子节"], "???")
#promo = rename(promo, ["超级运动会正式"], "???")
#promo = rename(promo, ["超级运动会预热"], "???")
#promo = rename(promo, ["足球JHS主题团"], "???")
#promo = rename(promo, ["足篮球品牌团"], "???")
promo = rename(promo, ["跑步品牌团", "跑步团", "跑步节", "跑步节/铁人三项聚划算"], "跑步节")
promo = rename(promo, ["跑步节预热", "跑步节（预热）"], "跑步节预热")
#promo = rename(promo, ["跑鞋清仓聚划算"], "???")
#promo = rename(promo, ["钓鱼JHS主题团"], "???")
promo = rename(promo, ["铁三2天品牌团", "铁人三项聚划算"], "铁人三项")
'''
add_promo = pd.DataFrame({
    "date" : pd.to_datetime(['20190110','20190111','20190112','20190303','20190304','20190305','20190411','20190412','20190421','20190422','20190423','20190424','20190425','20190426']),
    "promo_name": ['年货节预热','年货节预热','年货节预热','女王节预热','女王节预热','女王节预热','出游节预热','出游节预热',
                   '男人节预热','男人节预热','男人节预热','男人节','男人节','男人节'],
    "promo_level": ["预热"] * 11 + ["S"] * 3
})
'''
promo.iloc[1076:1079,-2] = ['年货节预热']*3
promo.iloc[1076:1079,-1] = ['预热']*3
promo.iloc[1092:1101,-2] = ['年廿一','年廿二','年廿三','年廿四','年廿五','年廿六','年廿七','年廿八','年廿九']
promo.iloc[1112:1115,-2] = ['初十一','初十二','初十三']
promo.iloc[1129:1132,-2] = ['女王节预热']*3
promo.iloc[1129:1132,-1] = ['预热']*3
promo.iloc[1167:1169,-2] = ['出游季预热']*2
promo.iloc[1167:1169,-1] = ['预热']*2
promo.iloc[1179,-2] = ['男人节预热']
promo.iloc[1179,-1] = ['预热']
promo.iloc[1180:1183,-2] = ['男人节']*3
promo.iloc[1180:1183,-1] = ['S']*3
promo.iloc[1235:1238,-2] = ['6.18']*3
promo.iloc[1235:1238,-1] = ['S+']*3
promo.iloc[1232:1235,-2] = ['6.18预热']*3
promo.iloc[1232:1235,-1] = ['预热']*3
#promo = pd.concat([promo, add_promo]).sort_values("date")

In [4]:

promo.columns = ['date','promo_name','promo_level']

In [5]:
promo.iloc[29:52]['promo_name'] = promo.iloc[29:52]['promo_level']
promo.iloc[383:407]['promo_level'] = promo.iloc[383:407]['promo_name']
promo.iloc[767:792]['promo_level'] = promo.iloc[767:792]['promo_name']
promo.iloc[1092:1109]['promo_level'] = promo.iloc[1092:1109]['promo_name']
promo.iloc[1112:1115]['promo_level'] = promo.iloc[1112:1115]['promo_name']
promo.iloc[157:159,-1] = ['S'] * 2
promo.iloc[164:166,-2] = ['???']*2
promo.iloc[535:537,-1] = ['S+']*2
promo.iloc[882:894,-2] = ['???']*promo.iloc[882:894].shape[0]
promo.iloc[882:894,-1] = ['???']*promo.iloc[882:894].shape[0]
promo.iloc[894:899,-2] = ['6.18预热']*5
promo.iloc[894:899,-1] = ['预热']*5

/Users/xiujiayang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/xiujiayang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/xiujiayang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/xiujiayang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/xiujiayang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [6]:
promo.iloc[29:51]
promo.shape

(1242, 3)

In [7]:
rows = [i for i in range(promo.shape[0]) if '预热' in str(promo.iloc[i]['promo_name'])]
promo.iloc[rows,-1] = ['预热']*len(rows)
promo.iloc[858,-1] = 'J'
promo.iloc[858,-2] = '户外出行'
#print(rows)
promo[promo['promo_name']=='???']

          date promo_name promo_level
5   2016-01-06        ???         NaN
6   2016-01-07        ???         NaN
7   2016-01-08        ???         NaN
8   2016-01-09        ???         NaN
9   2016-01-10        ???         NaN
10  2016-01-11        ???         NaN
11  2016-01-12        ???         NaN
159 2016-06-08        ???         NaN
160 2016-06-09        ???         NaN
161 2016-06-10        ???         NaN
164 2016-06-13        ???         NaN
165 2016-06-14        ???         NaN
297 2016-10-24        ???         NaN
298 2016-10-25        ???         NaN
657 2017-10-19        ???         NaN
658 2017-10-20        ???         NaN
659 2017-10-21        ???         NaN
660 2017-10-22        ???         NaN
882 2018-06-01        ???         ???
883 2018-06-02        ???         ???
884 2018-06-03        ???         ???
885 2018-06-04        ???         ???
886 2018-06-05        ???         ???
887 2018-06-06        ???         ???
888 2018-06-07        ???         ???
889 2018-06-08        ???         ???
890 2018-06-09        ???         ???
891 2018-06-10        ???         ???
892 2018-06-11        ???         ???
893 2018-06-12        ???         ???

In [10]:
promo.replace('???',np.nan,inplace=True)
promo.iloc[1050:1150]

           date promo_name promo_level
1050 2018-11-16        NaN         NaN
1051 2018-11-17        NaN         NaN
1052 2018-11-18        NaN         NaN
1053 2018-11-19        NaN         NaN
1054 2018-11-20        NaN         NaN
1055 2018-11-21        NaN         NaN
1056 2018-11-22        NaN         NaN
1057 2018-11-23        NaN         NaN
1058 2018-11-24        NaN         NaN
1059 2018-11-25     羽绒季聚划算           B
1060 2018-11-26     羽绒季聚划算           B
1061 2018-11-27        NaN         NaN
1062 2018-11-28        NaN         NaN
1063 2018-11-29        NaN         NaN
1064 2018-11-30        NaN         NaN
1065 2018-12-01        NaN         NaN
1066 2018-12-02        NaN         NaN
1067 2019-01-01        NaN         NaN
1068 2019-01-02        NaN         NaN
1069 2019-01-03        NaN         NaN
1070 2019-01-04        NaN         NaN
1071 2019-01-05        NaN         NaN
1072 2019-01-06        NaN         NaN
1073 2019-01-07        NaN         NaN
1074 2019-01-08        NaN         NaN
1075 2019-01-09        NaN         NaN
1076 2019-01-10      年货节预热          预热
1077 2019-01-11      年货节预热          预热
1078 2019-01-12      年货节预热          预热
1079 2019-01-13        年货节           S
...         ...        ...         ...
1120 2019-02-23        NaN         NaN
1121 2019-02-24        NaN         NaN
1122 2019-02-25        NaN         NaN
1123 2019-02-26        NaN         NaN
1124 2019-02-27        NaN         NaN
1125 2019-02-28        NaN         NaN
1126 2019-03-01        NaN         NaN
1127 2019-03-02        NaN         NaN
1128 2019-03-03        NaN         NaN
1129 2019-03-04      女王节预热          预热
1130 2019-03-05      女王节预热          预热
1131 2019-03-06      女王节预热          预热
1132 2019-03-07        女王节           S
1133 2019-03-08        女王节           S
1134 2019-03-09        女王节           S
1135 2019-03-10        NaN         NaN
1136 2019-03-11        NaN         NaN
1137 2019-03-12        NaN         NaN
1138 2019-03-13        NaN         NaN
1139 2019-03-14        NaN         NaN
1140 2019-03-15        NaN         NaN
1141 2019-03-16        NaN         NaN
1142 2019-03-17        NaN         NaN
1143 2019-03-18        跑步节           B
1144 2019-03-19        跑步节           B
1145 2019-03-20        跑步节           B
1146 2019-03-21        NaN         NaN
1147 2019-03-22        NaN         NaN
1148 2019-03-23        NaN         NaN
1149 2019-03-24        NaN         NaN

[100 rows x 3 columns]

In [9]:
promo.to_csv('promo_20190627.csv',index=False)
print('complete')

complete